:root {
    /** Colors Primary */
    --primaryMain: #2196F3;
    --primaryLight: #BBDEFB;
    --primaryDark: #0D47A1;
    /** Colors Secondary */
    --secondaryMain: #00BCD4;
    --secondaryLight: #B2EBF2;
    --secondaryDark: #006064;
    /** Colors Accent */
    --accentMain: #651FFF;
    --accentLight: #EDE7F6;
    --accentDark: #4527A0;
    /** Colors Paper */
    --paperLight: #FFFFFF;
    --paperDark: #424242;
    --defaultDark: #303030;
    --defaultLight: #DEDEDE;
    /** Colors Text */
    --textPrimary: #00000087;
    --textSecondary: #00000054;
    --textSecondaryDark: #DEDEDE;
    --textDisable: #00000038;
    --textField: #00000042;
}

/*? Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--paperLight);
    color: var(--textPrimary);
    align-items: center;

    background-image: url(../img/blob-scatter-haikei.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 85rem auto;
}

header {
    /* background: rgba(0, 0, 0, .8); */

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

