.container-header {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.container-header > a > img {
    width: 250px;
    height: auto;
    padding: .7rem;
}

.nav-header {
    flex-grow: 1;
}

.nav-header > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
}

.nav-header > ul > li {
    list-style-type: none;
}

.nav-header > ul > li > a {
    color: var(--textPrimary);
    text-decoration: none;
}

.nav-header > ul > li > a:hover {
    text-decoration: underline solid 2px;
    text-decoration-color: var(--primaryMain);
    color: var(--primaryMain);
}

/*? RESPONSIVE
/** Tamaño tablet horizontal (1024-768) */
@media all and (min-width: 768px) and (max-width: 1024px) {
    /* body {
        background-color: red;
    } */
}

/** Tamaño tablet (768-480) */
@media all and (min-width: 480px) and (max-width: 768px) {
    /* body {
        background-color: blue;
    } */
}

/** Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {
    /* body {
        background-color: green;
    } */

    .container-header {
        width: 100%;
        flex-flow: column nowrap;
    }

    .nav-header {
        width: 100%;
    }

    .nav-header > ul {
        display: block;
    }
}